{{extend 'mylayout.html'}}


<div flex>
<md-content flex layout-fill  layout="column" ng-cloak="" class="body-color">
    <div flex style="margin:10px;" layout="column">
        <md-card name="productDetail">
          <!-- <md-toolbar class="md-warn"> -->
            <md-card-title>
              <md-card-title-text>
                <span class="md-title" flex>{{=response.moduleTitle}}</span>
              </md-card-title-text>
            </md-card-title>
          <!-- </md-toolbar> -->
          <!-- <md-dialog-content> -->
            <md-card-content class="md-dialog-content" layout="column" flex>
                    <!-- <div>
                        {{=form.custom.begin}}
                        {{=form.custom.widget.search}}{{=form.custom.submit}}
                        {{=form.custom.end}}
                    </div>

                    <p>latitude, longtitude: {{=latitude}},{{=longitude}}</p> -->
                    <div id="map" style="height:400px;width:280px;"></div>
            </md-card-content>
          <!-- </md-dialog-content> -->
        </md-card>
    </div>
</md-content>
</div>
<script>
var map, marker;
window.initMap = function() {
    var uluru = {lat: 16.8583904, lng: 96.0677832};
    map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 14
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        // infoWindow.setPosition(pos);
        // infoWindow.setContent('Location found.');
        map.setCenter(pos);

        marker = new google.maps.Marker({
              position: pos,
              map: map
            });
      }, function(err) {
        console.error(err);
      });
    }
}
</script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyB6t9AbbpZkB_03IDrjAua2jrQk3-TQgeE&callback=initMap" async defer></script>
<!-- <script src="{{=URL('static','js/gmaps.js')}}"></script> -->
<!-- {{if longitude or latitude:}} -->
<!-- {{pass}} -->
