<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <title>{{=T(response.title or request.application)}}</title>
        <meta name="application-name" content="{{=request.application}}">
        <meta name="google-site-verification" content="">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{{=URL('static','images/android-desktop.png')}}">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="{{=URL('static','images/ios-desktop.png')}}">
<!-- include stylesheets -->
        <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/custom.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/mdl-style.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/style.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/myansanspro.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/material.min.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/material.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/angular-material.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static', 'css/materialicons.css')}}"/>
        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}"/>

        <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
            {{include 'web2py_ajax.html'}}
    </head>
    <body ng-app="MyApp" layout="column" ng-cloak="" class="body-color">
<!-- Always shows a header, even in smaller screens. -->

<!-- Masthead ===================================== -->
        {{block header}}
        <md-content flex layout="column" layout-fill ng-controller="AppCtrl">
            <md-toolbar class="md-toolbar-tools md-whiteframe-4dp " layout="row" style="background-color:#F44336;">
                <md-button class="md-icon-button" ng-show="true" aria-label="menu" ng-click="toggleLeft()">
                  <md-icon md-svg-icon="{{=URL('static', 'images/icons/menu_white_24px.svg')}}"></md-icon>
                </md-button>
                <label class="md-title" layout-padding>{{=T(response.title or request.application)}}</label>
                <span flex>&nbsp;</span>
                <div layout="row" layout-align="center center">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {{=auth.navbar(mode='dropdown') or ''}}
                        </ul>
                        {{if response.menu:}}
                            {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
                        {{pass}}
                    </div>
                    {{if hasattr(T,'get_possible_languages_info'):}}
                    <md-input-container class="" style="background-color:#F44336;" >
                        <select name="adminlanguage" onchange="var date = new       Date();cookieDate=date.setTime(date.getTime()+(100*24*60*60*1000));document.cookie='adminLanguage='+this.options[this.selectedIndex].id+'; expires='+cookieDate+'; path=/'; window.location.pathname= '{{=request.application}}/'+ this.options[this.selectedIndex].value;"
                        class="btn btn-default">
                            {{for langinfo in sorted([(code,info[1]) for code,info in T.get_possible_languages_info().iteritems() if (code != 'default') and (code in ['my-mm', 'en-us'])   ]):}}
                                <option {{=T.accepted_language==langinfo[0] and 'selected' or ''}} {{='id='+langinfo[0]}} {{='value='+langinfo[0]}} >{{=langinfo[1]}}</option>
                            {{pass}}
                        </select>
                    </md-input-container>
                    {{pass}}
                </div>
              </md-toolbar>
        {{end}}
        {{block center}}
        <md-content flex layout="row"  class="content-color">
            <md-sidenav flex="20" class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left">
                <md-content flex layout="column" class="content-color">
                    <md-list>
                        <md-list-item  class="md-actions content-color" ng-href="{{=URL('default', 'index')}}">
                            <md-icon md-svg-icon="{{=URL('static', 'images/icons/bottle_white_24px.svg')}}"></md-icon>
                            <p>{{=T("Home")}}</p>
                        </md-list-item>
                        <md-list-item  class="md-actions content-color" ng-href="{{=URL('default', 'getGPS')}}">
                            <md-icon md-svg-icon="{{=URL('static', 'images/icons/bottle_white_24px.svg')}}"></md-icon>
                            <p>{{=T("Location")}}</p>
                        </md-list-item>
                        <md-list-item   class="md-actions content-color" ng-href="{{=URL('default', 'survey')}}">
                            <md-icon md-svg-icon="{{=URL('static', 'images/icons/bottle_white_24px.svg')}}"></md-icon>
                            <p>{{=T("Survey")}}</p>
                        </md-list-item>
                        <md-subheader class="md-no-sticky body-color">{{=T('Setting')}}</md-subheader>
                            <md-list-item  class="md-actions content-color" ng-href="{{=URL('default', 'question')}}">
                                <md-icon md-svg-icon="{{=URL('static', 'images/icons/bottle_white_24px.svg')}}"></md-icon>
                                <p>{{=T("Questions")}}</p>
                            </md-list-item>
                            <md-list-item  class="md-actions content-color" ng-href="{{=URL('default', 'outlet')}}">
                                <md-icon md-svg-icon="{{=URL('static', 'images/icons/bottle_white_24px.svg')}}"></md-icon>
                                <p>{{=T("Outlet Type")}}</p>
                            </md-list-item>
                        <md-subheader class="md-no-sticky body-color">{{=T('Information')}}</md-subheader>
                            <md-list-item ng-click="show_layout='deals_range_list'" class="md-actions" ng-href="{{=URL('default', 'about')}}">
                                <md-icon md-svg-icon="{{=URL('static', 'images/icons/bottle_white_24px.svg')}}"></md-icon>
                                <p>{{=T("About")}}</p>
                            </md-list-item>
                    </md-list>
                    <spand flex>&nbsp;</spand>
                </md-content>
            </md-sidenav>
            <md-content class="container body-content body-color" md-scroll-y flex>
                    <div flex>
                        {{include}}
                    </div>
            </md-content>
                {{end}}
        </md-content>
        <!-- <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{=URL('default', 'index')}}">Home</a>
                <a class="mdl-navigation__link" href="{{=URL('default', 'brand')}}">Brand</a>
                <a class="mdl-navigation__link" href="{{=URL('default', 'model')}}">Model</a>
                <a class="mdl-navigation__link" href="{{=URL('default', 'about')}}">About</a>
            </nav>
        </div> -->
        <!-- <main class="mdl-layout__content">
            <div class="page-content"> -->
<!-- Main ========================================= -->
<!-- Begin page content -->

    </md-content>
    {{block footer}}
<!-- this is default footer -->
    <!-- <footer class="footer" >
      <div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; CCPBM {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('Powered by')}}
            <a href="http://www.web2py.com/">web2py</a>
          </div>
      </div>
    </footer> -->
    <div id="web2py-my-toast" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{=URL('static','js/jquery.base64.js')}}"></script>

    <script src="{{=URL('static', 'js/angular.js')}}"></script>
    <script src="{{=URL('static', 'js/material.min.js')}}"></script>
    <script src="{{=URL('static', 'js/angular-material.js')}}"></script>
    <script src="{{=URL('static', 'js/angular-aria.js')}}"></script>
    <script src="{{=URL('static', 'js/angular-animate.js')}}"></script>
    <script src="{{=URL('static', 'js/angular-messages.js')}}"></script>
    <script src="{{=URL('static', 'js/script.js')}}"></script>

    {{block page_js}}{{end page_js}}
    <script>
        // var MyApp = angular.module('MyApp', ['ngMaterial', 'ngMessages']);
        // MyApp.controller('AppCtrl', ['$scope', '$mdDialog', '$http', function($scope, $mdDialog, $http) {
        //
        // }]);
        (function() {
            'use strict';
            var snackbarContainer = document.querySelector('#web2py-my-toast');
            var data = {message: '{{=response.flash or ''}}'};
            var timeout_id = setTimeout(function () {
                snackbarContainer.MaterialSnackbar.showSnackbar(data);
            }, 1000);
        }());
    </script>

  </body>
</html>
